.navbar{
    position: fixed;
    z-index: 990;
    width: 100%;
    padding: 0.5rem 1.5rem; 
    display: flex; align-items: center;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar-col{
    width: 100%;
    display: flex;
    grid-gap: 20px;
}
.nav-link {
    border-radius: 30px;
    padding: 0rem 0.5rem;
    border: 1px solid #ff7f43;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #ff7f43;
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;
}

.logo{ width: 150px; height: auto;}