@tailwind base;
@tailwind components;
@tailwind utilities;
.color1{color:#ff7d43}
.main-hero {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4px;
  overflow: hidden; /* Assurez-vous que l'overlay ne dépasse pas les limites du conteneur */
}

.main-hero::before {
  content: ''; /* Nécessaire pour que l'élément pseudo s'affiche */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.037); /* Couleur noire avec 50% d'opacité */
  z-index: -1; /* Assurez-vous que l'overlay est au-dessus du contenu */
}

.hero-title{
  position: fixed;
  top: 2%;
  z-index: 10;
}
.hero-title h1{
  padding: 0;
  width: 100%;
  background: #000000;
  background: linear-gradient(to right, #000000 52%, #FF7F43 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 200px;
  font-weight: bold;

}

.hero-colone1{
  position: relative;
  display: block;
}
.hero-colone2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  color: #000;

  background: rgb(255,255,255);
  background: linear-gradient(86deg, rgba(255,255,255,1) 0%, rgba(255,250,247,1) 28%, rgba(255,246,241,1) 61%, rgba(255, 224, 208, 0.765) 100%);
}

.hero-colone2 h1{
  text-align: justify;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}
.hero-colone2 h2{
  text-align: justify;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}
.heroimg1{
  height: 60%;
  width: 100%;
  object-fit: cover;
}
.blank-hero{
  height: 40%;
}
.hero-colone2{
  position: relative;
}
.hero-col-text h3{
  position: absolute;
  bottom: 2%;
  color: #fff;
  font-size: 14px;
  padding: 1rem;
  text-align: left;
}
.heroimg{
  height: 100%;
  width: 100%;
  object-fit: cover;
}









/* --------------------------------------------------------------------------------------------------- */
/* -------------------------------------------MEDIAQUERRY--------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 800px) {
  .hero-title{font-size: 100px;}
}
@media only screen and (max-width: 768px) {
  .hero-title{font-size: 100px;}
  .hero-colone3{display: none;}
}

@media only screen and (max-width: 621px) {

}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 450px) {

}
@media only screen and (max-width: 390px) {

}

@media only screen and (max-width: 290px) {

}

