@tailwind base;
@tailwind components;
@tailwind utilities;
.color1{color:#ff7d43}
body{position: relative;}
.main-hero {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0px;
  overflow: hidden; /* Assurez-vous que l'overlay ne dépasse pas les limites du conteneur */
}

.hero-colone1{
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.hero-colone1 .bloc1{
  height: 40%;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(86deg, rgba(255,255,255,1) 0%, rgba(255,250,247,1) 28%, rgba(255,246,241,1) 61%, rgba(255, 224, 208, 0.765) 100%);
  padding: 2rem;

}
.main-hero h1{
  position: fixed;
  z-index: 12;
  background: #000000;
  background: linear-gradient(to right, #000000 52%, #FF7F43 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 192px;
  font-weight: bold;
}
.hero-colone1 .bloc2{
  height: 60%;
  width: 100%;
}
.heroimg1{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 10;
}
.hero-colone2{
  position: relative;
  display: flex;
  max-height: 100vh;
  height: 100vh;
}
.hero-text{
  margin: 0.5rem;
  padding: 1rem;
  text-align: justify;
  position: absolute;
  z-index: 11;
  bottom: 1px;
  background-color: #ff7f4317;
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
}
.hero-col-text h3{
  position: absolute;
  bottom: 2%;
  color: #fff;
  font-size: 14px;
  padding: 1rem;
  text-align: left;
}
.heroimg2{
  position: absolute;
  z-index: 11;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.heroimg3{
  position: absolute;
  z-index: 8;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#services{
  position: absolute;
  z-index: 12;
  height: 100vh;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(86deg, rgba(255,255,255,1) 0%, rgba(255,250,247,1) 28%, rgba(255,246,241,1) 61%, rgb(255, 224, 208) 100%);
  padding: 1rem;
  display: grid;

}
#services h1{
  font-size: 20px;
}






/* --------------------------------------------------------------------------------------------------- */
/* -------------------------------------------MEDIAQUERRY--------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 800px) {
  .main-hero h1{font-size: 120px; z-index: 10;}
}
@media only screen and (max-width: 768px) {
  .hero-colone1 .bloc1{height: 25%;}
  .hero-colone1 .bloc2{height: 75%;}
}

@media only screen and (max-width: 650px) {
  .main-hero h1{font-size: 90px; width: 100%; text-align: center;top: 2%; }
}
@media only screen and (max-width: 600px) {
  .hero-colone1{display: none;}
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 450px) {

}
@media only screen and (max-width: 390px) {
  .main-hero h1 {width: 100%;font-size: 60px; top: 10%; text-align: center;}
}

@media only screen and (max-width: 290px) {

}

